{% load wagtailcore_tags wagtailimages_tags %}

<div class="children">
    {% if children %}
    <ul>
        {% for child in children %}
        <li class="child-page{% if child.image %} with-image{% endif %}">
            <a href="{% pageurl child %}">
                {% if child.image %}
                <div class="child-page-image">
                    {% image child.image max-600x600 %}
                </div>
                {% endif %}
            </a>

            <a href="{% pageurl child %}">
                <h2 class="child-page-title">{{ child.title }}</h2>

                {% if child.author %}
                <p class="metadata">
                    <span class="author">{{ child.author }}</span><br>
                    <time class="date">{{ child.first_published_at }}</time>
                </p>
                {% endif %}

                <div class="col">
                    <div class="row">
                        {% if child.search_description %}
                            <p class="child-page-introduction">
                                {{ child.search_description }}
                            </p>
                            {% include "cms/includes/tags.html" %}
                        {% endif %}
                    </div>
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>

    {% include "kdl_wagtail_core/includes/pagination.html" with items=children %}

    {% else %}
    <p>No live pages found!</p>
    {% endif %}

</div>
