{% extends "search/base.html" %}

{% load staticfiles %}

{% block search_header %}Events{% endblock search_header %}
{% block title %}Events{% endblock title %}

{% block query %}{% endblock query %}
{% block ordering %}{% endblock ordering %}

{% block results_default %}
{% include 'vue/events/search_results.html' %}
{% endblock results_default %}

{% block pagination-top %}
{% endblock pagination-top %}
{% block results_map %}{% endblock results_map %}
{% block pagination-bottom %}
{% endblock pagination-bottom %}

{% block javascript %}
<script>
  const PAGE_SIZE = 500

const META_FACETS = []
const RANGE_FACETS = ['year']

const YEAR_CHART_LABEL = 'Events'
const YEAR_MIN = 1780
const YEAR_MAX = 1820
</script>
{{ block.super }}
{% endblock javascript %}
