{% extends "search/base.html" %}

{% load staticfiles %}

{% block search_header %}Events{% endblock search_header %}
{% block title %}Events{% endblock title %}

{% block query %}{% endblock query %}
{% block ordering %}{% endblock ordering %}

{% block results_default %}
{% include 'vue/events/search_results_grid.html' %}
{% endblock results_default %}

{% block pagination-top %}
{% endblock pagination-top %}
{% block results_map %}{% endblock results_map %}
{% block pagination-bottom %}
{% endblock pagination-bottom %}

{% block javascript %}
<script>
  const options = {{ ds.SEARCH_OPTIONS.events|safe }}
</script>
{{ block.super }}
{% endblock javascript %}
