{% extends "base.html" %}

{% block title %}{{ object.title }}{% endblock title %}

{% block main %}
<h2>{{ object.title }}</h2>

<p>
{{ event.date }} | {{ event.place.address }}, {{ event.place.country }}
</p>

{% if object.related_to.count %}
<h3>Related resources</h3>
<ul>
    {% for resource in object.related_to.all %}
    <li class="event" data-date="{{ event.date }}">
        <a href="{% url 'resource-detail' resource.pk %}">{{ resource.title }}</a>
    </li>
    {% endfor %}
</ul>
{% endif %}
{% endblock main %}
