{% extends "base.html" %}

{% block title %}Timeline Mockup{% endblock title %}

{% block main %}
<h2>Timeline Mockup</h2>
<div class="timeline">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 1080">
        {% comment %}
            Title and description to improve SVG accessibility
        {% endcomment %}

        <title>Events timeline (1780-1820)</title>
        <desc>
          This chart shows clusters of events by Country over the years examined and the number of resources associated to that cluster.
          Clicking on such cluster will display the list of events and the number of resources per event.
        </desc>

        <!-- Key -->
        <text transform="matrix(1 0 0 1 31.7302 37.1763)" class="lora-bold font-20">Key</text>
        <g class="opacity-70">
            <circle class="key" cx="107.1" cy="82.3" r="9.5"/>
            <path class="key" d="M107.1,73.3c5,0,9,4,9,9c0,5-4,9-9,9s-9-4-9-9C98.1,77.3,102.1,73.3,107.1,73.3 M107.1,72.3
                c-5.5,0-10,4.5-10,10s4.5,10,10,10s10-4.5,10-10S112.6,72.3,107.1,72.3L107.1,72.3z"/>
        </g>
        <g>
            <g class="opacity-70">
                <circle class="key" cx="112" cy="152.1" r="4.8"/>
                <path class="key" d="M112,147.6c2.5,0,4.5,2,4.5,4.5s-2,4.5-4.5,4.5s-4.5-2-4.5-4.5S109.5,147.6,112,147.6 M112,147.1
                    c-2.8,0-5,2.2-5,5s2.2,5,5,5s5-2.2,5-5S114.8,147.1,112,147.1L112,147.1z"/>
            </g>
            <g class="opacity-70">
                <circle class="key" cx="97" cy="152.1" r="4.8"/>
                <path class="key" d="M97,147.6c2.5,0,4.5,2,4.5,4.5s-2,4.5-4.5,4.5s-4.5-2-4.5-4.5S94.5,147.6,97,147.6 M97,147.1
                    c-2.8,0-5,2.2-5,5s2.2,5,5,5s5-2.2,5-5S99.8,147.1,97,147.1L97,147.1z"/>
            </g>
            <g class="opacity-70">
                <circle class="key" cx="112" cy="167.1" r="4.8"/>
                <path class="key" d="M112,162.6c2.5,0,4.5,2,4.5,4.5s-2,4.5-4.5,4.5s-4.5-2-4.5-4.5S109.5,162.6,112,162.6 M112,162.1
                    c-2.8,0-5,2.2-5,5s2.2,5,5,5s5-2.2,5-5S114.8,162.1,112,162.1L112,162.1z"/>
            </g>
            <g class="opacity-70">
                <circle class="key" cx="97" cy="167.1" r="4.8"/>
                <path class="key" d="M97,162.6c2.5,0,4.5,2,4.5,4.5s-2,4.5-4.5,4.5s-4.5-2-4.5-4.5S94.5,162.6,97,162.6 M97,162.1
                    c-2.8,0-5,2.2-5,5s2.2,5,5,5s5-2.2,5-5S99.8,162.1,97,162.1L97,162.1z"/>
            </g>
            <g class="opacity-70">
                <circle class="key" cx="82" cy="152.1" r="4.8"/>
                <path class="key" d="M82,147.6c2.5,0,4.5,2,4.5,4.5s-2,4.5-4.5,4.5s-4.5-2-4.5-4.5S79.5,147.6,82,147.6 M82,147.1
                    c-2.8,0-5,2.2-5,5s2.2,5,5,5s5-2.2,5-5S84.8,147.1,82,147.1L82,147.1z"/>
            </g>
        </g>
        <text transform="matrix(1 0 0 1 143.7151 87.4303)" class="lora-reg font-16">Cluster of events in a year</text>
        <text transform="matrix(1 0 0 1 143.7151 114.2921)"><tspan x="0" y="0" class="lora-reg font-16">Indicates one or more events</tspan><tspan x="0" y="16.8" class="lora-reg font-16">spanning over multiple years</tspan></text>
        <text transform="matrix(1 0 0 1 143.7151 155.2226)"><tspan x="0" y="0" class="lora-reg font-16">Number of resources attached</tspan><tspan x="0" y="16.8" class="lora-reg font-16">to a specific event</tspan></text>
        <g class="opacity-70">
            <path class="key" d="M112,192.5c2.5,0,4.5,2,4.5,4.5s-2,4.5-4.5,4.5s-4.5-2-4.5-4.5S109.5,192.5,112,192.5 M112,192
                c-2.8,0-5,2.2-5,5s2.2,5,5,5s5-2.2,5-5S114.8,192,112,192L112,192z"/>
        </g>
        <text transform="matrix(1 0 0 1 143.7151 200.1531)"><tspan x="0" y="0" class="lora-reg font-16">No resources attached</tspan><tspan x="0" y="16.8" class="lora-reg font-16">to aspecific event</tspan></text>
        <text transform="matrix(1 0 0 1 143.7151 240.603)" class="lora-reg font-16">Event related to the country, but happened elsewhere</text>
        <text transform="matrix(1 0 0 1 143.7151 60.5688)" class="lora-reg font-16">Events/Resources</text>
        <text transform="matrix(1 0 0 1 90.7437 60.5689)" class="lora-reg font-16">n/n</text>
        <g class="opacity-70">
            <path class="key" d="M107.1,119.7c-2.7,0-18.4-2.5-27.8-3.9c-5.2-0.8-6.9-1.1-7.2-1.1c-2.5,0-4.5-2-4.5-4.5s2-4.5,4.5-4.5
                c0.2,0,1.9-0.3,7.2-1.1c9.4-1.5,25.2-3.9,27.8-3.9c5.2,0,9.5,4.3,9.5,9.5S112.3,119.7,107.1,119.7z"/>
            <g>
                <path class="key" d="M107.1,101.2c5,0,9,4,9,9s-4,9-9,9c-2.6,0-19-2.5-27.8-3.9c-6-0.9-7-1.1-7.2-1.1c-2.2,0-4-1.8-4-4s1.8-4,4-4
                    c0.2,0,1.2-0.1,7.2-1.1C88.1,103.8,104.4,101.2,107.1,101.2 M107.1,100.2c-3.9,0-34.3,5-35,5c-2.8,0-5,2.2-5,5s2.2,5,5,5
                    c0.7,0,31.1,5,35,5c5.5,0,10-4.5,10-10C117.1,104.7,112.6,100.2,107.1,100.2L107.1,100.2z"/>
            </g>
        </g>
        <g class="opacity-70">
            <g>
                <path class="key" d="M116.5,232.1v9h-9v-9H116.5 M117,231.6h-10v10h10V231.6L117,231.6z"/>
            </g>
        </g>
        <!-- .End Key -->

        <!-- X Axes labels -->
        <text transform="matrix(1 0 0 1 45.9043 997)" class="lora-reg font-24">1780</text>
        <text transform="matrix(1 0 0 1 183.7402 997)" class="lora-reg font-24">1785</text>
        <text transform="matrix(1 0 0 1 319.7285 997)" class="lora-reg font-24">1790</text>
        <text transform="matrix(1 0 0 1 457.9482 997)" class="lora-reg font-24">1795</text>
        <text transform="matrix(1 0 0 1 594.3203 997)" class="lora-reg font-24">1800</text>
        <text transform="matrix(1 0 0 1 735.9961 997)" class="lora-reg font-24">1805</text>
        <text transform="matrix(1 0 0 1 875.8237 997)" class="lora-reg font-24">1810</text>
        <text transform="matrix(1 0 0 1 1011.332 997)" class="lora-reg font-24">1815</text>
        <text transform="matrix(1 0 0 1 1144.9927 997)" class="lora-reg font-24">1820</text>

        <!-- Y Axes labels -->
        <text transform="matrix(1 0 0 1 19.1218 355.6602)" class="lora-bold font-20">US</text>
        <text transform="matrix(1 0 0 1 16.8415 455.6602)" class="lora-bold font-20">UK</text>
        <text transform="matrix(1 0 0 1 25.5417 555.6602)" class="lora-bold font-20">IT</text>
        <text transform="matrix(1 0 0 1 26.0617 655.6602)" class="lora-bold font-20">IE</text>
        <text transform="matrix(1 0 0 1 18.6218 755.6602)" class="lora-bold font-20">DE</text>
        <text transform="matrix(1 0 0 1 21.1418 855.6602)" class="lora-bold font-20">FR</text>

        <!-- Chart grid -->
        <line class="chart-grid" x1="97.5" y1="965" x2="97.5" y2="950"/>
        <line class="chart-grid" x1="125" y1="965" x2="125" y2="950"/>
        <line class="chart-grid" x1="152.5" y1="965" x2="152.5" y2="950"/>
        <line class="chart-grid" x1="180" y1="965" x2="180" y2="950"/>
        <line class="chart-grid" x1="235" y1="965" x2="235" y2="950"/>
        <line class="chart-grid" x1="262.5" y1="965" x2="262.5" y2="950"/>
        <line class="chart-grid" x1="290" y1="965" x2="290" y2="950"/>
        <line class="chart-grid" x1="317.5" y1="965" x2="317.5" y2="950"/>
        <line class="chart-grid" x1="372.5" y1="965" x2="372.5" y2="950"/>
        <line class="chart-grid" x1="400" y1="965" x2="400" y2="950"/>
        <line class="chart-grid" x1="427.5" y1="965" x2="427.5" y2="950"/>
        <line class="chart-grid" x1="455" y1="965" x2="455" y2="950"/>
        <line class="chart-grid" x1="510" y1="965" x2="510" y2="950"/>
        <line class="chart-grid" x1="537.5" y1="965" x2="537.5" y2="950"/>
        <line class="chart-grid" x1="565" y1="965" x2="565" y2="950"/>
        <line class="chart-grid" x1="592.5" y1="965" x2="592.5" y2="950"/>
        <line class="chart-grid" x1="647.5" y1="965" x2="647.5" y2="950"/>
        <line class="chart-grid" x1="675" y1="965" x2="675" y2="950"/>
        <line class="chart-grid" x1="702.5" y1="965" x2="702.5" y2="950"/>
        <line class="chart-grid" x1="730" y1="965" x2="730" y2="950"/>
        <line class="chart-grid" x1="785" y1="965" x2="785" y2="950"/>
        <line class="chart-grid" x1="812.5" y1="965" x2="812.5" y2="950"/>
        <line class="chart-grid" x1="840" y1="965" x2="840" y2="950"/>
        <line class="chart-grid" x1="867.5" y1="965" x2="867.5" y2="950"/>
        <line class="chart-grid" x1="922.5" y1="965" x2="922.5" y2="950"/>
        <line class="chart-grid" x1="950" y1="965" x2="950" y2="950"/>
        <line class="chart-grid" x1="977.5" y1="965" x2="977.5" y2="950"/>
        <line class="chart-grid" x1="1005" y1="965" x2="1005" y2="950"/>
        <line class="chart-grid" x1="1060" y1="965" x2="1060" y2="950"/>
        <line class="chart-grid" x1="1087.5" y1="965" x2="1087.5" y2="950"/>
        <line class="chart-grid" x1="1115" y1="965" x2="1115" y2="950"/>
        <line class="chart-grid" x1="1142.5" y1="965" x2="1142.5" y2="950"/>
        <line class="chart-grid" x1="55" y1="950" x2="1265" y2="950"/>
        <line class="chart-grid" x1="55" y1="850" x2="1265" y2="850"/>
        <line class="chart-grid" x1="55" y1="750" x2="1265" y2="750"/>
        <line class="chart-grid" x1="55" y1="650" x2="1265" y2="650"/>
        <line class="chart-grid" x1="55" y1="550" x2="1265" y2="550"/>
        <line class="chart-grid" x1="55" y1="450" x2="1265" y2="450"/>
        <line class="chart-grid" x1="55" y1="350" x2="1265" y2="350"/>
        <line class="chart-grid" x1="70" y1="965" x2="70" y2="255"/>
        <line class="chart-grid" x1="207.5" y1="965" x2="207.5" y2="255"/>
        <line class="chart-grid" x1="345" y1="965" x2="345" y2="255"/>
        <line class="chart-grid" x1="482.5" y1="965" x2="482.5" y2="255"/>
        <line class="chart-grid" x1="620" y1="965" x2="620" y2="255"/>
        <line class="chart-grid" x1="757.5" y1="965" x2="757.5" y2="255"/>
        <line class="chart-grid" x1="895" y1="965" x2="895" y2="255"/>
        <line class="chart-grid" x1="1032.5" y1="965" x2="1032.5" y2="255"/>
        <line class="chart-grid" x1="1170" y1="965" x2="1170" y2="255"/>
        <!-- .End chart grid -->

        <!-- Data plotted on chart -->
        {# This first <g> is the range shape #}
        <g class="opacity-70">
            <path class="us country" d="M647.5,359.5c-2.7,0-55.4-2.5-86.8-3.9c-15.1-0.7-23-1.1-23.2-1.1c-2.5,0-4.5-2-4.5-4.5s2-4.5,4.5-4.5
                c0.2,0,8.1-0.4,23.2-1.1c31.5-1.5,84.1-3.9,86.8-3.9c5.2,0,9.5,4.3,9.5,9.5S652.7,359.5,647.5,359.5z"/>
            <path class="us country" d="M647.5,341c5,0,9,4,9,9s-4,9-9,9c-2.7,0-55.4-2.5-86.8-3.9c-17-0.8-23-1.1-23.2-1.1c-2.2,0-4-1.8-4-4
                s1.8-4,4-4c0.2,0,6.2-0.3,23.2-1.1C592.1,343.5,644.8,341,647.5,341 M647.5,340c-3.9,0-109.3,5-110,5c-2.8,0-5,2.2-5,5s2.2,5,5,5
                c0.7,0,106.1,5,110,5c5.5,0,10-4.5,10-10C657.5,344.5,653,340,647.5,340L647.5,340z"/>
        </g>
        <g class="opacity-70">
            <circle class="us country" cx="537.5" cy="350" r="4.5"/>
            <path class="us country" d="M537.5,346c2.2,0,4,1.8,4,4s-1.8,4-4,4s-4-1.8-4-4S535.3,346,537.5,346 M537.5,345c-2.8,0-5,2.2-5,5s2.2,5,5,5
                s5-2.2,5-5S540.3,345,537.5,345L537.5,345z"/>
        </g>
        <g class="opacity-70">
            <circle class="us country" cx="647.5" cy="350" r="9.5"/>
            <path class="us country" d="M647.5,341c5,0,9,4,9,9s-4,9-9,9s-9-4-9-9S642.5,341,647.5,341 M647.5,340c-5.5,0-10,4.5-10,10s4.5,10,10,10
                s10-4.5,10-10S653,340,647.5,340L647.5,340z"/>
        </g>
        <g class="opacity-70">
            <circle class="france country" cx="317.5" cy="850" r="34.5"/>
        </g>
        <g class="opacity-70">
            <circle class="ireland country" cx="125" cy="650" r="4.5"/>
        </g>
        <g class="opacity-70">
            <circle class="uk country" cx="125" cy="450" r="9.5"/>
        </g>
        <!-- .End data plotted on chart -->

        <!-- Bubble labels -->
        <text transform="matrix(1 0 0 1 301.7849 803.9482)" class="lora-reg font-16">7/32</text>
        <text transform="matrix(1 0 0 1 526.0481 332.0527)" class="lora-reg font-16">1/0</text>
        <text transform="matrix(1 0 0 1 635.8372 332.0527)" class="lora-reg font-16">2/0</text>
        <text transform="matrix(1 0 0 1 113.3387 636.3753)" class="lora-reg font-16">1/0</text>
        <text transform="matrix(1 0 0 1 112.1277 431.3753)" class="lora-reg font-16">2/0</text>
        <!-- .End bubble labels -->

        <g class="info hidden">
        <!-- Resources (Content for UI) -->
        <g class="opacity-70">
            <circle class="france country" cx="1414" cy="624" r="4.5"/>
        </g>
        <g class="opacity-70">
            <circle class="france country" cx="1427.3" cy="624" r="4.5"/>
        </g>
        <g class="opacity-70">
            <circle class="france country" cx="1440.7" cy="624" r="4.5"/>
        </g>
        <g class="opacity-70">
            <circle class="france country" cx="1414" cy="637" r="4.5"/>
        </g>
        <g class="opacity-70">
            <circle class="france country" cx="1427.3" cy="637" r="4.5"/>
        </g>
        <g class="opacity-70">
            <circle class="france country" cx="1440.7" cy="637" r="4.5"/>
        </g>
        <g class="opacity-70">
            <circle class="france country" cx="1454" cy="624" r="4.5"/>
        </g>
        <g class="opacity-70">
            <circle class="france country" cx="1414" cy="729" r="4.5"/>
        </g>
        <g class="opacity-70">
            <circle class="france country" cx="1427.3" cy="729" r="4.5"/>
        </g>
        <g class="opacity-70">
            <circle class="france country" cx="1440.7" cy="729" r="4.5"/>
        </g>
        <g class="opacity-70">
            <circle class="france country" cx="1414" cy="742" r="4.5"/>
        </g>
        <g class="opacity-70">
            <circle class="france country" cx="1427.3" cy="742" r="4.5"/>
        </g>
        <g class="opacity-70">
            <circle class="france country" cx="1454" cy="729" r="4.5"/>
        </g>
        <g class="opacity-70">
            <circle class="france country" cx="1414" cy="778" r="4.5"/>
        </g>
        <g class="opacity-70">
            <circle class="france country" cx="1427.3" cy="778" r="4.5"/>
        </g>
        <g class="opacity-70">
            <circle class="france country" cx="1440.7" cy="778" r="4.5"/>
        </g>
        <g class="opacity-70">
            <circle class="france country" cx="1414" cy="791" r="4.5"/>
        </g>
        <g class="opacity-70">
            <circle class="france country" cx="1427.3" cy="791" r="4.5"/>
        </g>
        <g class="opacity-70">
            <circle class="france country" cx="1454" cy="778" r="4.5"/>
        </g>
        <g class="opacity-70">
            <circle class="france country" cx="1440.7" cy="791" r="4.5"/>
        </g>
        <g class="opacity-70">
            <circle class="france country" cx="1414" cy="804" r="4.5"/>
        </g>
        <g class="opacity-70">
            <circle class="france country" cx="1427.3" cy="804" r="4.5"/>
        </g>
        <g class="opacity-70">
            <circle class="france country" cx="1454" cy="791" r="4.5"/>
        </g>
        <g class="opacity-70">
            <circle class="france country" cx="1440.7" cy="804" r="4.5"/>
        </g>
        <g class="opacity-70">
            <circle class="france country" cx="1440.7" cy="817" r="4.5"/>
        </g>
        <g class="opacity-70">
            <circle class="france country" cx="1414" cy="817" r="4.5"/>
        </g>
        <g class="opacity-70">
            <circle class="france country" cx="1427.3" cy="817" r="4.5"/>
        </g>
        <g class="opacity-70">
            <circle class="france country" cx="1454" cy="804" r="4.5"/>
        </g>
        <g class="opacity-70">
            <path class="france country" d="M1436.5,671.2c2.2,0,4,1.8,4,4s-1.8,4-4,4s-4-1.8-4-4S1434.3,671.2,1436.5,671.2 M1436.5,670.2
                c-2.8,0-5,2.2-5,5s2.2,5,5,5s5-2.2,5-5S1439.3,670.2,1436.5,670.2L1436.5,670.2z"/>
        </g>
        <g class="opacity-70">
            <path class="france country" d="M1436.5,874.8c2.2,0,4,1.8,4,4s-1.8,4-4,4s-4-1.8-4-4S1434.3,874.8,1436.5,874.8 M1436.5,873.8
                c-2.8,0-5,2.2-5,5s2.2,5,5,5s5-2.2,5-5S1439.3,873.8,1436.5,873.8L1436.5,873.8z"/>
        </g>
        <g class="opacity-70">
            <circle class="france country" cx="1356" cy="777" r="34.5"/>
        </g>
        <text transform="matrix(1 0 0 1 1340.2849 730.9482)" class="lora-reg font-16">7/32</text>
        <text transform="matrix(1 0 0 1 1335.7703 842.9482)"><tspan x="0" y="0" class="lora-bold font-20">1789</tspan><tspan x="-12.4" y="24" class="lora-bold font-20">France</tspan></text>
        <text transform="matrix(1 0 0 1 1473.9958 628.4277)" class="lora-bold font-16">7</text>
        <text transform="matrix(1 0 0 1 1493.2244 628.428)" class="lora-reg font-16">1789-05-05 Opening of the Estates General</text>
        <text transform="matrix(1 0 0 1 1472.3 732.4277)" class="lora-bold font-16">6</text>
        <text transform="matrix(1 0 0 1 1493.2244 732.428)" class="lora-reg font-16">1789-07-09 Opening of the National Constituent Assembly</text>
        <text transform="matrix(1 0 0 1 1466.364 782.4277)" class="lora-bold font-16">15</text>
        <text transform="matrix(1 0 0 1 1493.2244 782.428)" class="lora-reg font-16">1789-07-14 Fall of the Bastille</text>
        <text transform="matrix(1 0 0 1 1472.7478 833.4277)" class="lora-bold font-16">4</text>
        <text transform="matrix(1 0 0 1 1493.2244 833.428)"><tspan x="0" y="0" class="lora-reg font-16">1789-08-26 Declaration of the Rights of Man and of the Citizen</tspan><tspan x="0" y="16.8" class="lora-reg font-16">establishes...</tspan></text>
        <text transform="matrix(1 0 0 1 1471.324 884.4277)" class="lora-bold font-16">0</text>
        <text transform="matrix(1 0 0 1 1493.2244 884.428)" class="lora-reg font-16">1789-10-06 Women’s March on Versailles</text>
        <g class="opacity-70">
            <path class="france country" d="M1436.5,914.8c2.2,0,4,1.8,4,4s-1.8,4-4,4s-4-1.8-4-4S1434.3,914.8,1436.5,914.8 M1436.5,913.8
                c-2.8,0-5,2.2-5,5s2.2,5,5,5s5-2.2,5-5S1439.3,913.8,1436.5,913.8L1436.5,913.8z"/>
        </g>
        <text transform="matrix(1 0 0 1 1471.324 924.4277)" class="lora-bold font-16">0</text>
        <text transform="matrix(1 0 0 1 1493.2244 924.428)"><tspan x="0" y="0" class="lora-reg font-16">1789-12 First decree repressing counter-revolutionary press</tspan><tspan x="0" y="16.8" class="lora-reg font-16">(’pursuit of personal defamation’)</tspan></text>
        <text transform="matrix(1 0 0 1 1472.5959 678.428)" class="lora-bold font-16">0</text>
        <text transform="matrix(1 0 0 1 1493.2244 678.428)" class="lora-reg font-16">1789-06-20 Tennis Court Oath</text>
        <g class="opacity-70">
            <g>
                <path class="ireland country" d="M1436.5,499.3c2.2,0,4,1.8,4,4c0,2.2-1.8,4-4,4s-4-1.8-4-4C1432.5,501.1,1434.3,499.3,1436.5,499.3
                     M1436.5,498.3c-2.8,0-5,2.2-5,5s2.2,5,5,5s5-2.2,5-5S1439.3,498.3,1436.5,498.3L1436.5,498.3z"/>
            </g>
        </g>
        <g class="opacity-70">
            <circle class="ireland country" cx="1356" cy="503.3" r="4.5"/>
        </g>
        <text transform="matrix(1 0 0 1 1344.2751 486.9482)" class="lora-reg font-16">1/0</text>
        <text transform="matrix(1 0 0 1 1336.2 538.9482)"><tspan x="0" y="0" class="lora-bold font-20">1782</tspan><tspan x="-14.9" y="24" class="lora-bold font-20">Ireland</tspan></text>
        <text transform="matrix(1 0 0 1 1472.5959 507.2345)" class="lora-bold font-16">0</text>
        <text transform="matrix(1 0 0 1 1493.2244 507.3258)" class="lora-reg font-16">1782 Constitution of 1782</text>
        <text transform="matrix(1 0 0 1 1687.2244 507.3256)" class="lora-reg font-16">Related to the UK</text>
        <g class="opacity-70">
            <g>
                <path class="uk country" d="M1436.5,352.3c2.2,0,4,1.8,4,4s-1.8,4-4,4s-4-1.8-4-4S1434.3,352.3,1436.5,352.3 M1436.5,351.3
                    c-2.8,0-5,2.2-5,5s2.2,5,5,5s5-2.2,5-5S1439.3,351.3,1436.5,351.3L1436.5,351.3z"/>
            </g>
        </g>
        <g class="opacity-70">
            <circle class="uk country" cx="1356" cy="356.3" r="4.5"/>
        </g>
        <text transform="matrix(1 0 0 1 1343.0642 339.9482)" class="lora-reg font-16">2/0</text>
        <text transform="matrix(1 0 0 1 1336.2 391.9482)"><tspan x="0" y="0" class="lora-bold font-20">1782</tspan><tspan x="-12.9" y="24" class="lora-bold font-20">United</tspan><tspan x="-23.3" y="48" class="lora-bold font-20">Kingdom</tspan></text>
        <text transform="matrix(1 0 0 1 1472.5959 360.2345)" class="lora-bold font-16">0</text>
        <text transform="matrix(1 0 0 1 1493.2244 360.3258)" class="lora-reg font-16">1782-05-18 Repeal of Act for Securing Dependence of Ireland</text>
        <text transform="matrix(1 0 0 1 1472.5959 384.524)" class="lora-bold font-16">0</text>
        <text transform="matrix(1 0 0 1 1493.2244 384.7062)" class="lora-reg font-16">1782 Constitution of 1782</text>

        <rect x="1431.5" y="373.5" class="uk country empty" width="10" height="10"/>
        <g class="opacity-70">
            <g>
                <path class="us country" d="M1436.5,174.3c2.2,0,4,1.8,4,4s-1.8,4-4,4s-4-1.8-4-4S1434.3,174.3,1436.5,174.3 M1436.5,173.3
                    c-2.8,0-5,2.2-5,5s2.2,5,5,5s5-2.2,5-5S1439.3,173.3,1436.5,173.3L1436.5,173.3z"/>
            </g>
        </g>
        <g class="opacity-70">
            <circle class="us country" cx="1356" cy="178.3" r="4.5"/>
        </g>
        <text transform="matrix(1 0 0 1 1344.2751 161.9482)" class="lora-reg font-16">1/0</text>
        <text transform="matrix(1 0 0 1 1336.8 213.9482)"><tspan x="0" y="0" class="lora-bold font-20">1797</tspan><tspan x="-13.5" y="24" class="lora-bold font-20">United</tspan><tspan x="-10.5" y="48" class="lora-bold font-20">States</tspan></text>
        <text transform="matrix(1 0 0 1 1472.5959 182.2345)" class="lora-bold font-16">0</text>
        <text transform="matrix(1 0 0 1 1493.2244 182.3258)" class="lora-reg font-16">1797-03-04 / 1801-04-04 Presidency of John Adams</text>

        <rect x="1667.5" y="497.5" class="uk country empty" width="10" height="10"/>
        <text transform="matrix(1 0 0 1 1697.2244 384.7059)" class="lora-reg font-16">Happened in Ireland</text>
        <g class="opacity-70">
            <g>
                <!-- This should be a circle... -->
                <path class="ireland country" d="M1686,374.5c2.2,0,4,1.8,4,4s-1.8,4-4,4s-4-1.8-4-4S1683.8,374.5,1686,374.5 M1686,373.5c-2.8,0-5,2.2-5,5
                    s2.2,5,5,5s5-2.2,5-5S1688.8,373.5,1686,373.5L1686,373.5z"/>
            </g>
        </g>
        <g class="opacity-70">
            <rect x="1310" y="960" class="france country" width="590" height="10"/>
        </g>
        <g class="opacity-70">
            <rect x="1310" y="573" class="ireland country" width="590" height="10"/>
        </g>
        <g class="opacity-70">
            <rect x="1310" y="450" class="uk country" width="590" height="10"/>
        </g>
        <g class="opacity-70">
            <rect x="1310" y="273" class="us country" width="590" height="10"/>
        </g>
        <!-- .End Resources -->
        </g>
    </svg>
</div>
{% endblock main %}