{% load kdl_wagtail_core_tags menu_tags staticfiles %}

<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm">
        <h4>{{ ds.WAGTAIL_SITE_NAME }}</h4>
        <p>&copy; {% now 'Y' %}</p>
      </div>
      <div class="col-sm partners-funders">
        <h4>Partners and Funders</h4>

        <a href="//kcl.ac.uk/">
          <img src="{% static 'images/logos/kings-logo-red.svg' %}" alt="King's College London website.">
        </a>

        <a href="//www.unimib.it">
          <img src="{% static 'images/logos/logo-universita-bicocca-milano.svg' %}" alt="Univeristà degli Studi di Milano Bicocca">
        </a>

        <a href="//ahrc.ukri.org/">
          <img src="{% static 'images/logos/UKRI_AHR_Council-Logo_Horiz-RGB.svg' %}" alt="UKRI AHRC">
        </a>
      </div>
      <div class="col-sm">
        <p>
          Designed, developed and maintained by <a href="//kdl.kcl.ac.uk">King's Digital Lab</a>.
        </p>
      </div>
    </div>
  </div>
</footer>