{% extends "kdl_wagtail_core/includes/page_children.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block title %}
<h3 class="child-page-title">
  <p class="metadata">
  <span class="metadata-block date event">
    {{ child.start_at }}
    {% if child.end_at %} – {{ child.end_at }}{% endif %}
  </span>
  {% if child.location %}
  <span class="metadata-block event place">{{ child.location }}</span>
  {% endif %}
  </p>

  <a href="{% pageurl child %}">
    {{ child.title }}
  </a>
</h3>
{% endblock title %}
