{% load static wagtailcore_tags wagtailimages_tags %}

<section class="featured">
    <div class="card">
        <div class="card-header {{ category | lower }}-icon">
            {{ category }}
        </div>
        <div class="card-image">
            <a href="{% pageurl featured %}">
                {% if featured.image %}
                {% image featured.image max-370x600 alt=featured.image.title %}
                {% else %}
                <img src="{% static 'images/image-placeholder.svg' %}"
                     class="card-img-top"
                     alt="Image placeholder for featured content.">
                {% endif %}
            </a>
        </div>
        <div class="card-body">
            <h3 class="card-title">
                <a href="{% pageurl featured %}">{{ featured.title }}</a>
            </h3>
            {% if category == 'Blog' %}
            {% include "cms/includes/metadata.html" with page=featured %}
            {% endif %}
            <p class="card-text">  
            <a href="{% pageurl featured %}">
                {% if featured.search_description %}
                {{ featured.search_description }}
                {% else %}
                Read more.
                {% endif %}
            </a>
            </p>
            {% include "cms/includes/tags.html" with page=featured %}
        </div>
</section>
