@import 'custom_bootstrap_vars';
@import 'bootstrap';
@import 'fonts';

// project specific CSS goes here

// Colour palette

$black: #000;
$dark-gray: #222222;
$dark-pink: #eed3d7;
// $mint-green: #d6e9c6;
$dirt: #eae9da;
$green-italian-flag: rgba(0, 146, 70, 1);
$kaki: #c3c1a8;
$light-gray: #d9d9d9;
$medium-gray: #808080;
$old-yellow: #e9c46a;
$pink: #f2dede;
$prussian-blue: #00548b;
$purple: #7f2992;
$radical-red: #9b2923;
$white: #fff;

$link-color: $radical-red;

/* Globals */

a {
  color: $radical-red;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }

  svg {
    fill: $radical-red;
  }
}

body {
  font-family: Lora, serif;
  font-variation-settings: 'wdth' 100, 'wght' 400;

  background: url('../images/rt-bg.svg') no-repeat top left
    lighten($old-yellow, 30%);
  background-size: 135% auto;
  overflow-wrap: break-word;
}

.badge {
  border-radius: 0;
  font-family: 'Oswald', sans-serif;
  font-size: 0.9375em;
  padding: 0.125em 0.4em 0.25em;
}

.btn {
  border-radius: 0;
  font-family: 'Oswald', sans-serif;
  font-variation-settings: 'wght' 700;
  font-weight: 700;
  text-transform: uppercase;
}

b,
strong {
  font-variation-settings: 'wdth' 100, 'wght' 700;
}

.close {
  &.btn-sm {
    font-size: 1rem;
    padding-right: 1rem;
  }
}

.closeable {
  &::after {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512"><path d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"/></svg>');
    display: inline-block;
    filter: invert(100%);
    height: 12px;
    width: 12px;
    margin-left: 0.5em;
    vertical-align: -0.1875em;
  }
}

.collapsed-bottom {
  margin-bottom: 0;
}

footer {
  background: white;
  border-top: 15px solid $dark-gray;
  box-shadow: inset 0 10px $dark-gray;
  clip-path: polygon(0 0, 100% 20px, 100% 100%, 0 100%);

  padding: 1rem 0;

  h2 {
    font-size: 1.5rem;
  }
}

.hidden {
  display: none;
}

.highlight {
  background: $old-yellow;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.image {
  img {
    height: auto;
    max-width: 100%;
  }
}

.metadata {
  font-family: 'Oswald', sans-serif;
  font-size: 1.125rem;

  .author,
  .date,
  .form,
  .topic {
    &::before {
      display: inline-block;
      margin-right: 0.25rem;
      width: 16px;
    }
  }

  .author {
    &::before {
      content: url('/static/fontawesome/svgs/solid/pencil-alt.svg');
    }
  }

  .date {
    &::before {
      content: url('/static/fontawesome/svgs/solid/calendar.svg');
    }
  }

  .form {
    &::before {
      content: url('/static/fontawesome/svgs/solid/mail-bulk.svg');
      height: 16px;
      width: 16px;
    }
  }

  .topic {
    &::before {
      content: url('/static/fontawesome/svgs/solid/tags.svg');
      height: 16px;
      width: 16px;
    }
  }

  svg {
    fill: $dark-gray;
    height: 16px;
    margin-top: -4px;
    width: 16px;
  }
}

.small-icon,
.small-icon svg {
  fill: $medium-gray;
  height: 16px;
  margin-bottom: 4px;
  width: 16px;
}

.small-icon {
  img {
    vertical-align: text-top;
  }
}

.small-text {
  font-size: 12px;
}

.sup-icon,
.sup-icon svg {
  color: $medium-gray;
  fill: $medium-gray;
  height: 0.6125em;
  margin-top: -0.5em;

  &:hover {
    cursor: pointer;
  }
}

.tags {
  display: block;
  font-family: 'Oswald', sans-serif;
  font-size: 0.75rem;
  line-height: 1;
  padding: 0;

  &::before {
    content: url('/static/fontawesome/svgs/solid/tags.svg');
    display: inline-block;
    height: 16px;
    margin-right: 0.25rem;
    transform: rotate(90deg);
    vertical-align: text-bottom;
    width: 16px;
  }
}

.tag,
.children .tag {
  background: $old-yellow;
  border-bottom: 0;
  display: inline-block;
  padding: 0.25rem 0.5rem 0.5rem;
}

.tooltip-inner {
  text-align: left;
}

// Headings

h1,
h2,
h3,
h4,
h5,
h6,
.card-header {
  font-family: Oswald, sans-serif;
  font-variation-settings: 'wdth' 100, 'wght' 700;
  font-weight: 700;
}

.home-heading {
  margin: 1.5rem 0 1rem;
}

.title {
  font-family: Oswald, sans-serif;
  font-size: 1.25rem;
  font-variation-settings: 'wdth' 100, 'wght' 700;
}

.site-title {
  line-height: 1.25;
  margin-bottom: 0.5rem;
}

// Header

// Top header

.top-header {
  position: relative;
  text-align: center;
}

.login {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 999;

  a {
    display: block;
    padding: 0.25rem 0.5rem 0 0;
    text-decoration: none;

    svg {
      fill: $radical-red;
    }

    &:hover {
      background: transparent;
      text-decoration: underline;

      svg {
        fill: lighten($radical-red, 10%);
      }
    }
  }

  p {
    margin: 0;
  }

  svg {
    width: 16px;
  }
}

.curly-brackets {
  fill: $dark-gray;
  height: 10px;
  margin: 0 auto;
  // opacity: 0.2;
  padding-left: 2rem;
}

// Modals

.modal-body {
  main,
  .main {
    padding: 0;
  }
}

.modal-toggle {
  border-bottom: 1px solid $dark-gray;

  &:hover {
    border-bottom: 1px solid $radical-red;
    cursor: pointer;
  }
}

#place-modal {
  .close {
    font-size: 3rem;
    padding: 0.25rem 1rem;
  }

  .place-modal {
    padding: 0.5rem 1rem 0.25rem;
  }

  .modal-body,
  .modal-footer,
  .modal-header {
    padding: 0.5rem 1rem;
  }
}

// Navigation

nav,
.main-menu {
  font-family: Oswald, sans-serif;
  font-variation-settings: 'wdth' 100, 'wght' 400;

  a {
    text-decoration: none;

    &.nav-link {
      border-bottom: 10px solid darken($radical-red, 10%);
      font-size: 1.5rem;
      text-decoration: none;

      &:hover,
      &.active {
        background: transparent;
        border-bottom: 10px solid $old-yellow;
        color: lighten($radical-red, 10%);
      }
    }
  }
}

.navbar {
  padding: 0;

  button {
    padding: 0;
  }
}

.brand {
  display: block;
  font-family: 'Oswald', sans-serif;
  font-size: 4rem;
  font-variation-settings: 'wdth' 100, 'wght' 600;
  line-height: 1;
  margin: 0;
  min-width: 280px;
  padding-top: 1rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;

  svg {
    display: block;
    fill: $radical-red;
    margin: 0 auto;
    max-height: 40px;
    transform: rotate(-10deg); // Rotate the cap 15º counterclockwise
  }

  &:hover {
    background: transparent;
    color: darken($radical-red, 10%);

    svg {
      .cap {
        fill: darken($radical-red, 10%);
      }
    }
  }
}

.navbar-nav {
  display: block;
  text-align: center;
  width: 100%;
}

.nav-item {
  display: inline-block;
}

.navbar-toggler {
  text-align: center;
  text-transform: uppercase;
  width: 100%;

  svg {
    height: 24px;
  }
}

// Pagination

.pagination {
  .form-control {
    min-width: 60px;
  }

  .input-group-text,
  .page-link {
    border-radius: 0 !important;
  }
}

// Tabs

.nav-tabs {
  border-bottom: 5px solid $kaki;
  margin-bottom: 1rem;

  .nav-item {
    margin-bottom: -2px;

    .nav-link {
      border: 0;
      border-radius: 0;
      text-decoration: none;

      &.active {
        background: $kaki;
        color: $dark-gray;
      }

      &:hover {
        background: rgba($kaki, 0.4);
        border: transparent;
      }
    }
  }
}

// Logos

.partners-funders {
  h2 {
    padding-left: 0.5rem;
  }

  img,
  svg {
    max-height: 100px;
    max-width: 100%;
    padding: 0.5rem;
  }

  a {
    display: inline-block;
    text-align: center;

    &:active,
    &:focus {
      border: 1px dotted $radical-red;
    }

    &.one-quarter {
      width: 25%;
    }

    &.half {
      width: 45%;
    }
  }
}

.social-media {
  a {
    svg {
      &:hover {
        fill: $prussian-blue;
      }
    }
  }
  svg {
    fill: $radical-red;
    height: 24px;
    width: 24px;
  }
}

/* Breadcrumbs */

.breadcrumbs {
  display: block;
  list-style: none;
  margin-top: 1rem;

  a {
    svg {
      fill: $radical-red;
    }
  }

  li {
    display: inline-block;

    &::after {
      content: '/';
    }

    &:first-child {
      a {
        text-decoration: none;
      }
    }

    &:last-child {
      &::after {
        content: '';
      }
    }
  }

  svg {
    height: 16px;
    width: 16px;
  }
}

/* Main content area */

main,
.main {
  display: block;
  overflow: hidden;
}

main {
  background: url('/static/images/liberta-eguaglianza.svg') center 3rem
    no-repeat;
  background-size: 100%;
  min-height: 30vh;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
}

.main {
  padding: 1rem 0;

  h1 {
    small {
      display: block;
    }
  }
}

// Cards

.card,
.card-header,
.card-img-top,
.card-body {
  border: 0;
  border-radius: 0 !important;
}

.card {
  background: lighten($kaki, 15%);

  a {
    color: $dark-gray;
    text-decoration: none;

    &:hover {
      color: $radical-red;
      text-decoration: underline;

      img {
        filter: grayscale(0);
      }
    }
  }
}

.card-header {
  background: $kaki;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  z-index: 100;
}

.card-image {
  height: 200px;
  margin-top: -10px;
  overflow: hidden;

  img {
    filter: grayscale(100%);
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}

// Images

.rich-text,
figure {
  img {
    border: 1px solid $kaki;
  }
}

.attribution,
.caption {
  font-size: 0.875em;
  font-style: italic;
}

.attribution {
  &::before {
    content: '\00a9';
  }
}

.caption {
  margin-top: 0.5em;
}

.float-center,
.float-left,
.float-right {
  display: block;
  width: 100%;
}

.float-center {
  figure {
    text-align: center;
  }
}

.full-width {
  display: block;
  height: auto;
  margin: 1rem 0;
  width: 100%;

  img {
    width: 100%;
  }
}

.left,
.right {
  & + p {
    padding-top: 1rem;
    margin-bottom: 1rem;
  }
}

// Resources key

.key {
  background: $kaki;
  position: absolute;
  right: 0;
  top: 10px;
  z-index: 1000;

  button {
    background: $dark-gray;
    border: 0;
    color: $dirt;
    margin-right: -10px;
    padding: 10px 20px 20px 10px;
    transform: rotate(-90deg);

    .heading {
      font-size: 18px;
      &::after,
      &::before {
        display: inline-block;
        filter: invert(1);
        width: 20px;
      }

      &::before {
        content: url('/static/fontawesome/svgs/solid/key-skeleton.svg');
        padding-right: 6px;
      }
    }

    &[aria-expanded='true'] {
      padding-bottom: 5px;
      transform: rotate(0);
      width: 100%;

      .heading {
        &::after {
          content: url('/static/fontawesome/svgs/solid/times.svg');
          padding-left: 10px;
        }
      }
    }
  }

  .key-icons {
    margin-bottom: 0;
    padding: 16px;
  }

  li {
    border-bottom: 1px solid $white;
    list-style: none;
  }

  ul {
    padding-left: 0;
  }

  .small-icon {
    svg {
      fill: $black;
    }
  }
}

/* Homepage */

/*
Initial code from this Stackoverflow answer https://stackoverflow.com/a/49373879
*/

.sections {
  display: grid;
  grid-gap: 1px;
  position: relative;

  h1,
  h2,
  h3,
  h4,
  h4,
  h6 {
    padding-top: 1rem;
    text-transform: uppercase;

    a {
      color: $white;
      text-decoration: none;

      &:hover {
        background: transparent;
        text-decoration: underline;
      }
    }
  }

  section:nth-child(2) {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      a {
        color: $dark-gray;
      }
    }
  }

  section:nth-child(3),
  section:nth-child(4),
  section:nth-child(5) {
    color: $white;
  }

  .btn {
    margin-bottom: 1rem;
    text-decoration: none;
  }
}

.features {
  display: grid;
  grid-gap: 20px;

  .featured {
    background: lighten($kaki, 15%);
    border: 1px solid lighten($kaki, 10%);

    .card-header {
      &::before {
        display: inline-block;
        height: 16px;
        width: 16px;
      }

      &.biographies-icon {
        &::before {
          content: url('/static/fontawesome/svgs/solid/users.svg');
        }
      }

      &.blog-icon {
        &::before {
          content: url('/static/fontawesome/svgs/solid/pencil-alt.svg');
        }
      }

      &.resources-icon {
        &::before {
          content: url('/static/fontawesome/svgs/solid/copy.svg');
        }
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .child-page-image {
    height: 200px;
    overflow: hidden;
  }

  .features {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;

    section {
      grid-template-columns: 1fr;
    }
  }

  // Images

  // Image block component

  .float-left,
  .float-right {
    figure {
      max-width: 50%;
    }

    .description {
      max-width: 50%;
    }

    img {
      width: 100%;
    }
  }

  .float-left {
    figure {
      float: left;
    }

    .description {
      float: right;
      padding-left: 1rem;
    }
  }

  .float-right {
    figure {
      float: right;
    }

    .description {
      float: left;
      padding-right: 1rem;
    }
  }

  // Images in Draftail text editor

  .left,
  .right {
    display: inline-block;

    &::before {
      clear: both;
    }
  }

  .left {
    float: left;
    margin: 1rem 1rem 1rem 0;
  }

  .left + p {
    margin: 0 0 1rem 1rem;
  }

  .right {
    float: right;
    margin: 1rem 0 1rem 1rem;

    & + p {
      margin: 0 1rem 1rem 0;
    }
  }

  .metadata-block {
    &::after {
      content: '|';
      margin: 0 0.25rem;
    }

    &:last-child {
      &::after {
        content: '';
      }
    }
  }

  .sections {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;

    section:nth-child(2),
    section:nth-child(3),
    section:nth-child(4),
    section:nth-child(5) {
      border-bottom: 10px solid $old-yellow;
      height: 100%;
    }

    section:nth-child(1) {
      grid-column: 5 / 10;
      grid-row: 1;
    }
    section:nth-child(2) {
      grid-column: 1 / 5;
      grid-row: 1 / 3;
      z-index: 0;

      .rich-text {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
      }

      p:first-child {
        grid-column: 1 / 6;
      }

      p {
        grid-column: 1 / 4;
      }

      .btn {
        width: 73%;
      }
    }
    section:nth-child(3) {
      grid-column: 4 / 7;
      grid-row: 2 / 3;
      z-index: 1;
    }
    section:nth-child(4) {
      grid-column: 7 / 10;
      grid-row: 2 / 3;
    }
    section:nth-child(5) {
      grid-column: 10 / 13;
      grid-row: 1 / 3;
    }
  }

  .site-title {
    font-size: 4rem;
  }

  .with-image {
    grid-gap: 1rem;
    grid-template-columns: 200px auto;
    grid-template-row: 1;
  }
}

@include media-breakpoint-down(sm) {
  .brand {
    svg {
      max-height: 30px;
    }
  }

  .child-page-image {
    height: 200px;
    overflow: hidden;
  }

  .metadata-block {
    display: block;
  }

  // Images

  img {
    &.left,
    &.right {
      height: auto;
      width: 100%;
    }
  }

  .pagination {
    display: grid;
    grid-template-columns: repeat(9, auto);

    .page-link {
      width: 100%;
    }
  }

  .people {
    .with-image {
      .child-page-image {
        height: 300px;

        img {
          display: block;
          height: 300px;
          object-fit: cover;
        }
      }
    }
  }

  .sections,
  .with-image {
    grid-template-columns: 100%;

    &.people,
    &.personpage {
      .child-page-image {
        height: 300px;

        img {
          display: block;
          height: 300px;
          object-fit: cover;
        }
      }
    }
  }

  section {
    grid-column: 1;
  }

  .site-title {
    font-size: 2.25rem;
    line-height: 1.125;
    margin-top: 0.5rem;
  }
}

.sections {
  section {
    font-size: 1.25em;
    padding: 0 1rem;

    &:nth-child(2) {
      background-color: $old-yellow;
    }

    &:nth-child(3) {
      background-color: $prussian-blue;
    }

    &:nth-child(4) {
      background-color: $dark-gray;
    }

    &:nth-child(5) {
      background-color: $radical-red;
    }
  }
}

.intro,
.introduction {
  color: $dark-gray;
  font-size: 1.25rem;
  font-style: italic;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

/* Index pages / Blog / People Etc. */

.children {
  margin-top: 1rem;

  a {
    color: $dark-gray;
    text-decoration: none;

    &:hover {
      color: $radical-red;
      text-decoration: underline;
    }
  }

  ul {
    padding-left: 0;

    li {
      border-bottom: 5px solid $kaki;
      list-style: none;
      padding: 1rem 0;
    }
  }
}

.child-page-image {
  border: 1px solid $kaki;
  margin-bottom: 1rem;

  a {
    display: block;
  }

  img {
    height: 200px;
    object-fit: cover;
    width: 100%;
  }
}

.child-page-title {
  small {
    display: block;
  }
}

.with-image {
  display: grid;
}

/* Agents / Persons */

.false,
.fictional {
  &::after {
    display: inline-block;
    padding-left: 4px;
    width: 18px;
  }
}

.false {
  &::after {
    content: url('/static/fontawesome/svgs/solid/no-veracity.svg');
  }
}

.fictional {
  &::after {
    content: url('/static/fontawesome/svgs/solid/map-marker-plus.svg');
  }
}

.noble {
  svg {
    height: 16px;
    width: 16px;
  }
}

.radical,
.radicalism,
.uncertain,
.uncertainty,
.unknown {
  &::before {
    display: inline-block;
    height: 10px;
    margin-right: 4px;
    width: 10px;
  }
}

.radical,
.radicalism {
  &::before {
    content: url('/static/images/phrygian-cap.svg');
    height: 16px;
    width: 16px;
  }
}

.uncertain,
.uncertainty,
.unknown {
  &::before {
    content: url('/static/fontawesome/svgs/solid/question.svg');
  }
}

/* Alerts */

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.alert-debug {
  background-color: $white;
  border-color: $dirt;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $radical-red;
}

// Events timeline
.timeline {
  height: 300px;
  overflow-y: scroll;
}

.events {
  border-left: 3px solid $radical-red;
  font-size: 1.03em;
  line-height: 1.4em;
  list-style: none;
  margin: 0 auto;
  max-width: 60%;
  padding: 50px;
  position: relative;
  text-align: left;

  h3 {
    font-weight: 700;
    font-size: 1rem;
  }

  .event {
    position: relative;
  }

  .event:before,
  .event:after {
    display: block;
    position: absolute;
    top: 0;
  }

  .event:before {
    content: attr(data-date);
    font-size: 0.9em;
    font-weight: 100;
    left: -200px;
    min-width: 120px;
    text-align: right;
  }

  .event:after {
    background: $white;
    border-radius: 50%;
    box-shadow: 0 0 0 3px $radical-red;
    content: '';
    height: 9px;
    left: -55.8px;
    top: 5px;
    width: 9px;
  }
}

// Search

.filter {
  text-align: left;
}

#filters {
  button[aria-expanded] {
    &::before {
      display: inline-block;
    }
  }

  button[aria-expanded='false'] {
    &::before {
      content: url('/static/fontawesome/svgs/solid/caret-right.svg');
      width: 5px;
    }
  }

  button[aria-expanded='true'] {
    background: $primary;
    color: white;

    &::before {
      content: url('/static/fontawesome/svgs/solid/caret-down.svg');
      width: 8px;
    }
  }

  .btn-group {
    border: 5px solid $light-gray;
    margin: 0.25rem;
  }

  .btn-info {
    border-color: $prussian-blue;
    color: white;
  }
}

/* Adjusting map display: rendering map at height: 70vh */

.map-results {
  width: 100%;
  height: 100%;
  display: block;
}

.map-modal,
#map-view.active {
  display: block;
  width: 100%;
}

.map-modal {
  height: 50vh;
}

#map-view.active {
  height: 70vh;
}

#map-popup-container {
  display: none;
}

// Adjusting colour contrast for accessibility purpose
.vue-slider-dot-tooltip-text,
.vue-slider-dot-tooltip-inner {
  background-color: $prussian-blue !important;
  border-color: $prussian-blue !important;
}

.vue-slider-process {
  background-color: $prussian-blue !important;
}

// Adding focus status to slider handle to make it accessible
.vue-slider-dot,
.vue-slider-dot-handle-focus {
  &:focus {
    border: 1px solid $radical-red !important;
  }
}

/* End map styling */

.search-result {
  dd {
    margin-bottom: 0;
    margin-left: 2rem;
  }
}

.search-results-list {
  margin-left: 1rem;
  padding-left: 2rem;

  li {
    border-bottom: 1px solid $kaki;
    margin: 1rem 0 0 0.5rem;
    padding-bottom: 0.25rem;
  }

  .title {
    margin-bottom: 0.5rem;
  }
}

.spacing {
  margin-bottom: 4px;
  margin-right: 4px;
}

/* Events timeline */

.mock {
  position: relative !important;
}

#bubble-chart {
  display: block;
  padding-top: 2rem;
}

.event-info {
  background: $secondary;
  border: 1px solid $light-gray;
  box-shadow: 2px 2px 2px 2px $medium-gray;
  max-height: 50vh;
  max-width: 500px;
  padding: 1rem;
  position: absolute;
  right: 10px;
  top: 140px;
  overflow-y: scroll;
}

.events-key {
  display: block;
  font-family: Lora, serif;
  position: absolute;

  &:hover {
    cursor: pointer;
  }

  .bkg {
    fill: $white;
  }

  .chart-button {
    &.country {
      &:hover {
        opacity: 0.9;
        stroke-width: 10px;
      }
    }
  }

  .chart-grid {
    fill: none;
    stroke: $medium-gray;
    stroke-miterlimit: 10;
  }

  .font-16 {
    font-size: 1rem;
  }

  .font-20 {
    font-size: 1.25rem;
  }

  .font-24 {
    font-size: 1.5rem;
  }

  .key {
    fill: $dark-gray;
    stroke: $dark-gray;
    stroke-miterlimit: 10;
  }

  .lora-reg {
    font-variation-settings: 'wdth' 100, 'wght' 400;
  }

  .lora-bold {
    font-variation-settings: 'wdth' 100, 'wght' 700;
  }

  // Country colours

  .country {
    opacity: 0.7;
    stroke-miterlimit: 10;
    stroke-opacity: 0.5;
  }

  .empty {
    fill: transparent !important;
  }

  .egypt {
  }

  .france {
    fill: #6f51b9;
    stroke: #6f51b9;
  }

  .ireland {
    fill: #8b2e4a;
    stroke: #8b2e4a;
  }

  .uk {
    fill: #fb4811;
    stroke: #fb4811;
  }

  .us {
    fill: #51b788;
    stroke: #51b788;
  }
}

// Timeline visualisations
// colours from https://learnui.design/tools/data-color-picker.html#palette

$viz-background: $white;
$viz-hl: $old-yellow;
$viz-size: 8px;

.viz-grid {
  font-family: 'Oswald', sans-serif;

  table {
    background: $viz-background;
    display: block;
    margin: auto;
    overflow-x: scroll;

    thead {
      text-align: center;

      th {
        color: $medium-gray;
      }
    }

    td {
      border-bottom: 1px solid $medium-gray;
      border-right: 1px dashed $light-gray;
      min-width: 30px;
      scroll-snap-align: start;
    }

    th {
      background: $viz-background;
      left: 0;
      padding: 8px;
      position: sticky;
      z-index: 1;
    }
  }

  .event {
    background: $purple;
    border-radius: 50%;

    &.related {
      background: radial-gradient(transparent 30%, $purple 30%);
      //border: 1px solid $purple;
    }
  }

  .resource {
    background: none;
    border: 1px solid $medium-gray;

    &.serial-publications,
    &.periodicals {
      border-color: $dark-gray;
      border-style: dotted;
    }
    &.source-text {
      background: radial-gradient($prussian-blue 50%, transparent 50%);
    }
    &.translation {
      background-image: linear-gradient(
          90deg,
          transparent 35%,
          $radical-red 0,
          $radical-red 65%,
          transparent 0
        ),
        linear-gradient(
          180deg,
          transparent 35%,
          $radical-red 0,
          $radical-red 65%,
          transparent 0
        );
    }
  }

  .year {
    display: inline-block;
    font-size: 10px;
    margin-top: 1.5rem;
    transform: rotate(-45deg);
    transform-origin: 0% 0%;

    &.zlarge {
      min-width: 80px;
      transform: rotate(0deg);
      transform-origin: 0% 0%;
    }
    &.zsmall {
      transform: rotate(-45deg);
      transform-origin: 0% 0%;
    }
  }

  .event,
  .resource {
    display: inline-block;
    float: left;
    height: $viz-size;
    margin: 0.5px;
    width: $viz-size;

    &.zlarge {
      &:before {
        font-size: calc(#{$viz-size} * 2);
      }

      height: calc(#{$viz-size} * 1.5);
      width: calc(#{$viz-size} * 1.5);
    }
    &.zsmall {
      height: calc(#{$viz-size} / 2);
      width: calc(#{$viz-size} / 2);
    }

    &:hover,
    &.active {
      background-color: $viz-hl;
      cursor: pointer;
    }

    &.filtered {
      background: $light-gray;
      border-color: $light-gray;
    }
  }
}
