
@import "custom_bootstrap_vars";
@import "bootstrap";
@import 'fonts';

// project specific CSS goes here

/* Variables */

// Modifying colour map
// Ref: https://getbootstrap.com/docs/4.5/getting-started/theming/#modify-map

$theme-colors: (
  "primary": #3c153b,
  "danger": #ff4136
);

// Alert colors

$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;


/* Globals */

body {
    font-family: "Merriweather", serif;
}

/* Blog */

.children {
    margin-top: 1rem;

    ul {
        padding-left: 0;
        
        li {
            border-bottom: 1px dotted #999;
            list-style: none;
        }
    }
}

/* Alerts */

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}