@import 'custom_bootstrap_vars';
@import 'bootstrap';
@import 'fonts';

// project specific CSS goes here

/* Variables */

// Modifying colour map
// Ref: https://getbootstrap.com/docs/4.5/getting-started/theming/#modify-map

$theme-colors: (
  'primary': #9b2923,
  'danger': #ff4136
);

// Alert colors

$black: #000;
$dark-pink: #eed3d7;
$mint-green: #d6e9c6;
$old-yellow: #e9c46a;
$pink: #f2dede;
$red: #9b2923;
$white: #fff;

$link-color: $red;

/* Globals */

a {
  color: darken($red, 10%);
  text-decoration: underline;

  &:hover {
    background: $red;
    color: $white;
    text-decoration: none;
  }
}

body {
  background: lighten($old-yellow, 30%);
  font-family: Lora, serif;
  font-variation-settings: 'wdth' 400, 'wght' 400;
}


b,
strong {
  font-variation-settings: 'wdth' 400, 'wght' 700;
}

footer,
.top-header {
  background: white;
}

footer {
  border-top: 5px solid lighten($gray-600, 45%);
  padding: 1rem 0;

  h2 {
    font-size: 1.5rem;
  }
}

.top-header {
  border-bottom: 5px solid lighten($gray-600, 45%);
}

// Halftone filter
// Source: https://codepen.io/coreh/pen/LQJBLa

.halftone {
    background: white;
    position: relative;
    filter: contrast(500%);
    overflow: hidden;
}

.halftone > * {
    filter: brightness(0.5) blur(4px);
    filter: grayscale(100%);
}

.halftone::after {
    content: '';
    position: absolute;
    top: -100%;
    left: -100%;
    right: -100%;
    bottom: -100%;
    background-blend-mode: hard-light;
    background:
        radial-gradient(8px 8px, black, white),
        radial-gradient(8px 8px, black, white),
        radial-gradient(8px 8px, black, white);
    background-size: 8px 8px;
    background-position: 0 -3px, -2px 0, 2px 0;
    mix-blend-mode: screen;
    pointer-events: none;
    transform: rotate(11.25deg);
    transition: 1s ease-in-out transform;
    z-index: 1;
}

.image {
  img {
    height: auto;
    max-width: 100%;
  }
}

// Headings

h1, h2, h3,
h4, h5, h6 {
  font-family: Oswald, sans-serif;
  font-variation-settings: 'wdth' 400, 'wght' 400;
}

// Navigation

nav,
.main-menu {
  font-family: Oswald, sans-serif;
  font-variation-settings: 'wdth' 400, 'wght' 400;

  a {
    text-decoration: none;

    &:hover {
      background: lighten($red, 50%);
    }
  }
}

.navbar.bg-light {
  background: url('../images/pattern-background.jpg');

  &::after {
    content: "";
    background: url('../images/pattern-background.jpg');
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
}

.navbar-brand {
  display: inline-block;
  font-size: 1.5rem;
  font-variation-settings: 'wdth' 400, 'wght' 700;
  min-width: 280px;
  text-transform: uppercase;

  svg {
    margin-top: 7px;
    max-height: 24px;
    max-width: 28px;
    vertical-align: text-top;
  }
}

// Logos

.partners-funders {
  h2 {
    padding-left: .5rem;
  }

  img,
  svg {
    max-height: 100px;
    max-width: 100%;
    padding: .5rem;
  }

  a {
    display: inline-block;
    text-align: center;

    &.one-quarter {
      width: 25%;
    }

    &.half {
      width: 45%;
    }
  }
}

/* Main content area */

main {
  position: relative;

  &::after {
    content: "";
    background: url('../images/pattern-background.jpg');
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
}

.main {
  padding: 1rem 0;  
}


/* Blog */

.children {
  margin-top: 1rem;

  ul {
    padding-left: 0;

    li {
      border-bottom: 1px dotted #999;
      list-style: none;
      padding: 1rem 0;
    }
  }
}

.child-page-image {
  margin-right: 1rem;
}

/* Alerts */

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}

// Events timeline
.events {
  background: lighten($red, 40%);
  border-bottom-right-radius: 4px;
  border-left: 3px solid $red;
  border-top-right-radius: 4px;
  font-size: 1.03em;
  line-height: 1.4em;
  list-style: none;
  margin: 0 auto;
  max-width: 60%;
  padding: 50px;
  position: relative;
  text-align: left;

  h3 {
    font-weight: 600;
    font-size: 1rem;
  }

  .event {
    position: relative;
  }

  .event:before,
  .event:after {
    display: block;
    position: absolute;
    top: 0;
  }

  .event:before {
    content: attr(data-date);
    font-size: 0.9em;
    font-weight: 100;
    left: -200px;
    min-width: 120px;
    text-align: right;
  }

  .event:after {
    background: $white;
    border-radius: 50%;
    box-shadow: 0 0 0 3px $red;
    content: '';
    height: 9px;
    left: -55.8px;
    top: 5px;
    width: 9px;
  }
}
