{% load kdl_wagtail_core_tags wagtailcore_tags wagtailimages_tags %}

{% with person_page=person.pages.first %}

{% if person_page.image %}
<div class="child-page-image">
    {% if person_page.live %}<a href="{% pageurl person_page %}">{% endif %}
    {% image person_page.image max-600x600 %}
    {% if person_page.live %}</a>{% endif %}
</div>
{% elif person.image %}
<div class="child-page-image">
    {% if person_page.live %}<a href="{% pageurl person_page %}">{% endif %}
    {% image person.image max-600x600 %}
    {% if person_page.live %}</a>{% endif %}
</div>
{% endif %}

<div class="child-content">
    <h2 class="child-page-title">
        {% if person_page.live %}<a href="{% pageurl person_page %}">{% endif %}
            {{ person.title }}
            <small>{{ person.introduction }}</small>
        {% if person_page.live %}</a>{% endif %}
    </h2>

    {% if person_page.search_description %}
    <p class="child-page-introduction">
        {% if person_page.live %}<a href="{% pageurl person_page %}">{% endif %}
        {{ person_page.search_description }}
        {% if person_page.live %}</a>{% endif %}
    </p>
    {% endif %}
</div>

{% endwith %}
