{% extends "base.html" %}

{% block main %}
<h2>{{ title }}</h2>

{% include "includes/list_view_pagination.html" %}
<ul>
    {% for object in object_list %}
    <li>
        {% with agent_type=object.agent_type %}
        <a href="{% url 'agent-detail' object.pk %}">    
            {% include "agents/includes/noble.html" %}
            {{ object.name }}
        </a>

        {% include "agents/includes/roles.html" %}
        {% endwith %}
    </li>
    {% endfor %}
</ul>
{% include "includes/list_view_pagination.html" %}

{% endblock main %}
