{% extends "base.html" %}

{% block title %}{{ object.name }}{% endblock title %}

{% block main %}
{% include "core/includes/key.html" %}
<h1>{{ object.name }}</h1>

<p class="metadata">
{% if object.is_private %}
<span class="metadata-block">
  <span class="badge badge-dark">Private</span>
</span>
{% endif %}
{% if object.based_near.count %}
<span class="metadata-block">
  {% for place in object.based_near.all %}
  {% include 'geonames_place/includes/place.html' with place=place %}{% if not forloop.last %}, {% endif %}
  {% endfor %}
</span>
{% endif %}
{% include "agents/includes/pages.html" %}
<span class="metadata-block">
  {% include "agents/includes/roles.html" %}
</span>
</p>

{% include "agents/includes/contributed_to.html" %}

{% include "agents/includes/agents.html" with title='Members' agents=object.members %}

{% if object.resources.count %}
<h2>Resources held</h2>
<ul>
  {% for resource in object.resources.all %}
  <li>
    <a href="{% url 'resource-detail' resource.pk %}">{{ resource.title }}</a>
  </li>
  {% endfor %}
</ul>
{% endif %}

{% include "includes/object_notes.html" %}
{% endblock main %}

{% block modal %}
{% include 'geonames_place/includes/place_modal.html' %}
{% endblock modal %}
