{% extends "base.html" %}

{% block title %}{{ object.name }}{% endblock title %}

{% block main %}
<h1>{{ object.name }}</h1>

<p class="metadata">
    {% if object.based_near.count %}
    <span class="metadata-block">
        {% for place in object.based_near.all %}
        {{ place.address }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </span>
    {% endif %}
    {% include "agents/includes/pages.html" %}
    <span class="metadata-block">
        {% include "agents/includes/roles.html" %}
    </span>
</p>

{% include "agents/includes/contributed_to.html" %}

{% include "agents/includes/agents.html" with title='Members' agents=object.members %}

{% if object.resources.count %}
<h2>Resources held</h2>
<ul>
    {% for resource in object.resources.all %}
    <li>
        <a href="{% url 'resource-detail' resource.pk %}">{{ resource.title }}</a>
    </li>
    {% endfor %}
</ul>
{% endif %}

{% include "includes/object_notes.html" %}
{% endblock main %}
