<h2>Results: <span class="badge badge-secondary highlight">{[ data.count ]}</span> records</h2>

<h3 v-if="query || has_date_query || filters.length > 0">
    Current filters
    <span 
        class="sup-icon" 
        data-toggle="tooltip" 
        title="It's possible to remove single filters by clicking on their labels or remove all filters at once, using the 'Clear all' button.">
        {% include "svgs/solid/info-circle.svg" %}
    </span>
</h3>
<button
    v-if="query"
    v-on:click="textSearch()"
    class="btn btn-info btn-sm spacing closeable"
    type="button">{[ query ]}
</button>
<button
    v-if="has_date_query"
    v-on:click="rangeSearch(true)"
    class="btn btn-info btn-sm spacing closeable"
    type="button">{[ query_dates[0] ]}–{[ query_dates[1] ]}
</button>
<button
    v-for="filter in filters"
    :key="filter[0] + filter[1]"
    v-on:click="updateFilters(filter)" 
    class="btn btn-info btn-sm spacing closeable"
    type="button">
    <span class="text-body">{[ getFacetDisplayName(filter[0]) ]}:</span> {[ filter[1] ]}
</button>

<button
    v-if="query || filters.length > 0"
    v-on:click="clearFilters()"
    class="btn btn-sm btn-outline-info spacing">
    <span class="small-icon">{% include "svgs/solid/trash-alt.svg" %}</span>
    Clear all filters
</button>
