<h3>Available filters</h3>
<ul class="list-unstyled" v-for="facet in facets" :key="facet.name">
    <li><h4>{[ facet.name ]}</h4></li>
    <li v-for="bucket in facet.buckets" :key="bucket.key">
        <button
            @click="updateFilters([facet.name, getBucketValue(bucket)])" 
            class="filter btn"
            v-bind:class="filterExists([facet.name, getBucketValue(bucket)]) ? 'btn-primary': 'btn-link'"
            type="button">{[ getBucketValue(bucket) ]} ({[ bucket.doc_count ]})</button>
    </li>
</ul>
