{% if object.contributed_to.count %}
<h3>Contributions</h3>
{% regroup object.contributed_to.all by resource as contributions %}
<ol>
  {% for contribution in contributions %}
  <li>
    {% with resource=contribution.grouper %}
    <a href="{% url 'resource-detail' resource.pk %}">{{ resource.title }}</a>

    {% if resource.is_private %}
    <span class="badge badge-dark">private</span>
    {% endif %}
    {% include "core/includes/type.html" %}
    {% endwith %}

    {% include "agents/includes/roles.html" with objects=contribution.list %}
  </li>
  {% endfor %}
</ol>
{% endif %}
