{% extends "base.html" %}
{% load staticfiles %}

{% block main %}
<h2>{% block search_header %}{% endblock search_header %}</h2>

{% block search_body %}
<div id="app">
    {% include 'vue/search_query.html' %}

    {% include 'vue/search_summary.html' %}

    {% include 'vue/pagination.html' %}

    {% include 'vue/search_results.html' %}

    {% include 'vue/pagination.html' %}
</div>
{% endblock search_body %}
{% endblock main %}

{% block javascript %}
{{ block.super }}

<script src="{% static 'js/search.js' %}"></script>
{% endblock javascript %}
