{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
{{ block.super }}
<link href="{% static 'leaflet/dist/leaflet.css' %}" rel="stylesheet">
<link href="{% static 'vue-slider-component/theme/default.css' %}" rel="stylesheet">
{% endblock css %}

{% block main %}

{% block search_body %}
<div id="app">
    <div class="container">
        <h1>{% block search_header %}{% endblock search_header %}</h1>

        <div class="row">
            <div class="col">
                <div class="row alert alert-secondary">
                    <div class="col">
                        {% include 'vue/search_query.html' %}
                        {% include 'vue/search_facets.html' %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col">
                        {% include 'vue/search_summary.html' %}
                        {% include 'vue/search_ordering.html' %}
                    </div>
                </div>

                {% include 'vue/pagination.html' %}

                <ul class="nav nav-tabs" id="result-views" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a
                            @click="map.show = false"
                            class="nav-link active"
                            id="list-view-tab"
                            data-toggle="tab"
                            href="#list-view"
                            role="tab"
                            aria-controls="list"
                            aria-selected="true">
                            <span class="small-icon">
                                {% include "svgs/solid/list.svg" %}
                            </span>
                            List
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a
                            @click="map.show = true"
                            class="nav-link"
                            id="map-view-tab"
                            data-toggle="tab"
                            href="#map-view"
                            role="tab"
                            aria-controls="map"
                            aria-selected="false">
                            <span class="small-icon">
                                {% include "svgs/solid/map-marker.svg" %}
                            </span>
                            Map
                        </a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="list-view" role="tabpanel" aria-labelledby="list-view-tab">
                        {% include 'vue/search_results.html' %}
                    </div>
                    <div class="tab-pane" id="map-view" role="tabpanel" aria-labelledby="map-view-tab">
                        {% include 'vue/search_results_map.html' %}
                    </div>
                </div>

                {% include 'vue/pagination.html' %}
            </div>
        </div>
    </div>
</div>
{% endblock search_body %}
{% endblock main %}

{% block javascript %}
{{ block.super }}

<script src="{% static 'chart.js/dist/Chart.min.js' %}"></script>
<script src="{% static 'leaflet/dist/leaflet.js' %}"></script>
<script src="{% static 'vue2-leaflet/dist/vue2-leaflet.min.js' %}"></script>
<script src="{% static 'vue-chartjs/dist/vue-chartjs.min.js' %}"></script>
<script src="{% static 'vue-slider-component/dist/vue-slider-component.umd.min.js' %}"></script>
<script src="{% static 'js/search.js' %}"></script>
{% endblock javascript %}
