<div class="key">
    <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#key" aria-expanded="false" aria-controls="key"><h3 class="heading">Key</h3></button>
    <div class="collapse key-icons" id="key">
        <ul>
            <li>Some text</li>
            <li>Some more text</li>
            <li>Some more text</li>
            <li>Some more text</li>
            <li>Some more text</li>
            <li>Some more text</li>
            <li>Some more text</li>
            <li>Some more text</li>
        </ul>
    </div>
</div>