{% with modal_id=place.id|stringformat:'d'|add:'-'|add:place_type|add:'-modal' %}
<a
      class="button modal-toggle"
      data-href="{% url 'place-detail' place.id %}"
      data-target="#{{ modal_id }}">{{ place.address }}</a>

<div
        class="modal fade"
        id="{{ modal_id }}"
        role="dialog"
        tabindex="-1"
        aria-labelledby="{{ modal_id }}-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5
                    class="modal-title"
                    id="{{ modal_id }}-label">{{ place.address }}, {{ place.country.name }}</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">x</button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endwith %}
