{% extends "kdl_wagtail_core/base.html" %}
{% load kdl_wagtail_core_tags wagtailcore_tags wagtailimages_tags %}

{% block page-header %}
<h1>{{ page.person.title }} <small>{{ page.person.introduction }}</small></h1>
{% endblock page-header %}

{% block page-body %}
<div class="page-body {% get_page_label page %}{% if page.image or page.person.image %} with-image{% endif %}">
    {% if page.image %}
    {% image page.image fill-180x180-c100 %}
    {% elif page.person.image %}
    {% image page.person.image fill-180x180-c100 %}
    {% endif %}

    <div>
        {% if page.introduction %}
        <p class="intro">{{ page.introduction }}</p>
        {% endif %}

        {% if page.person.description %}
        {{ page.person.description|richtext|krackdown }}
        {% endif %}
    </div>
</div>
{% endblock page-body %}
